.drop-region-container {
  margin-top: 0.5rem;
  padding: 1em;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  background-color: gray;
}

.drop-region-container.highlight {
  background-color: limegreen;
}

.drop-region {
  pointer-events: none;
  border: dashed 2px white;
  color: white;
  border-radius: 10px;
  padding: 3rem 0;
  height: 25rem;
}

#download-btn {
  filter: invert(1);
  margin-bottom: 30px;
}

.drop-region h2 {
  inline-size: 250px;
  overflow-wrap: break-word;
  hyphens: manual;
  margin: 0 auto;
}

#file-input {
  display: none;
}

.progress {
  margin-bottom: 2em;
  width: 80%;
}

.progress-bar {
  width: 0%;
}

.progress-bar-percentage-container {
  position: relative;
}

.percentage {
  position: absolute;
  top: -4px;
  left: 45%;
}

.percentage.zero {
  display: none;
}
