.my-alert {
  position: relative;
  padding: 0.75rem;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 0.24rem;
  max-width: 360px;
  text-align: center;
}

.my-alert.my-alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-left: 5px solid #cc0000;
}

.my-alert.my-alert-ok {
  color: white;
  background-color: var(--sky-blue);
  border-color: var(--sky-tint);
  border-left: 5px solid #0d4b5e;
}
