.submit-button {
  background-color: rgb(204, 44, 83);
  color: white;
  border: none;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.submit-button:hover {
  background-color: rgb(244, 54, 103);
  cursor: pointer;
}

.submit-button:active {
  font-weight: 700;
  text-decoration: underline;
}

.submit-button[disabled] {
  background-color: gray;
  pointer-events: none;
  user-select: none;
}

.persistCheck {
  font-size: 0.75rem;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin: 0 5px 2px 2px;
}
