.submit-button {
  background-color: rgb(204, 44, 83);
  color: white;
  border: none;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.submit-button:hover {
  background-color: rgb(244, 54, 103);
  cursor: pointer;
}

.submit-button:active {
  font-weight: 700;
  text-decoration: underline;
}

.submit-button[disabled] {
  background-color: gray;
  pointer-events: none;
  user-select: none;
}
