.label-error-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.label-error-container .label {
  color: rgba(88, 88, 88, .75);
  font-weight: 700;
  user-select: none;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  text-align: left;
  width: 100%;
  flex: 1;
  height: 100%
}

.label-error-container .error {
  color: rgb(204, 44, 83);
  font-size: .8rem;
  letter-spacing: -1px;
  text-align: right;
  line-height: 12px;
  overflow: hidden;
  padding: 0 5px 0 0;
  font-weight: bold;
}

.label-error-container .error.slide {
  animation-duration: .25s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
